.elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 76px auto 80px;
}

.elements__list {
  max-width: 1120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  padding: 0;
  margin: 0;
}

.elements__more-btn {
  margin: 56px 0 0 0;
  padding: 10px;
  width: 25%;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: white;
  background-color: #424242;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.elements__more-btn:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1170px) {
  .elements {
    margin: 70px 30px 80px;
  }
}

@media screen and (max-width: 880px) {
  .elements__list {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }

  .elements__more-btn {
    width: 45%;
  }
}

@media screen and (max-width: 560px) {
  .elements {
    margin: 40px 10px 80px;
  }

  .elements__list {
    grid-template-columns: 1fr;
    row-gap: 25px;
  }

  .elements__more-btn {
    width: 80%;
  }
}

