.form__container {
  padding: 70px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 396px;
}

.form__logo {
  width: 38px;
  height: 38px;
}

.form__logo:hover {
  cursor: pointer;
  opacity: 0.6;
}

.form__title {
  margin: 40px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  min-height: 375px;
  width: 100%;
}

.form__btn-save {
  margin-top: 179px;
  height: 45px;
  background-color: #4285F4;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  border: none;
  cursor: pointer;
}

.form__btn-save:hover {
  background-color: #3DDC84;
}

.form__text {
  margin: 0;
  padding: 16px 0 0 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #8B8B8B;
}

.form__link {
  text-decoration: none;
  color: #4285F4;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

.form__link:hover {
  color: #3DDC84;
}

.form__field {
  margin: 0;
  padding-bottom: 10px;
  position: relative;
  font-weight: 400;
  font-size: 10px;
  line-height: 12.1px;
  color: #8B8B8B;
}

.form__input {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #2F2F2F;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border: none;
  outline: none;
  border-radius: 8px;
}

.form__input:focus {
  background-color: #4285F4;
}

@media screen and (max-width: 880px) {
  .form__container {
    justify-content: center; 
    padding-top: 232px;
    padding-bottom: 232px;
  }
}

@media screen and (max-width: 560px) {
  .form__container {
    padding: 56px 30px 30px 30px;
    align-items: center;
  }

  .form__logo {
    margin: 0;
    padding: 0;
  } 

  .form__title {
    margin: 50px 0 80px 0;
    text-align: center;
  }

  .form {
    position: relative;
    min-height: 468px;
  }

  .form__btn-save {
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .form__text {
    font-size: 12px;
    line-height: 15px;
    padding-top: 14px;
  }

  .form__link {
    font-size: 12px;
    line-height: 15px;
  }
}
