.search-film {
  padding: 70px 70px 49px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-film__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid #424242;
}

/* .search-film__form-line {
  border-bottom: 1px solid #424242;
  margin-top: 40px;
} */


.search-film__input {
  min-height: 49px;
  background-color: transparent;
  /* background-image: url("../../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 34px 34px; */
  color: #8B8B8B;
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 18px;
}

.search-film__button {
  padding: 0;
  width: 80px;
  height: 34px;
  border: none;
  background-color: transparent;
}

.search-film__button:hover {
  cursor: pointer;
  opacity: 0.6;
}


@media screen and (max-width: 880px) {
  .search-film {
    padding: 86px 30px 62px;
  }
}

@media screen and (max-width: 560px) {
  .search-film {
    padding: 98px 14px 51px;
  }
  .search-film__icon {
    display: none;
  }

  .search-film__input {
    width: 100%;
    text-align: left;
    font-size: 18px;
    min-height: 44px;
  }

  /* .search-film__form-line {
    margin-top: 44px;
  } */
}